# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [ ]:
Total_Schools = school_data["School ID"].count()
total_s= school_data_complete["Student ID"].count()
Total_Students = "{:,}".format(total_s)
total_b = school_data["budget"].sum()
total_b = "${:,.2f}".format(total_b)
Total_Budget = total_b
Average_Math_Score = school_data_complete["math_score"].mean()
Average_Reading_Score = school_data_complete["reading_score"].mean()
Passing_Math_Score = ((school_data_complete["math_score"])>=70).mean()
Passing_Reading_Score = ((school_data_complete["reading_score"])>=70).mean()
Overall_Passing = (Average_Math_Score + Average_Reading_Score)/2


PyCity=pd.DataFrame({"Total Schools":[Total_Schools],
                    "Total Students":[Total_Students],
                    "Total Budget":[Total_Budget],
                    "Average Math Score":[Average_Math_Score],
                    "Average Reading Score":[Average_Reading_Score],
                    "% Passing Math":[Passing_Math_Score],
                    "% Passing Reading":[Passing_Reading_Score], 
                    "% Overall Passing":[Overall_Passing]})
PyCity

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [ ]:
# summary_table = pd.DataFrame(school_data["school_name"],
# school_data["type"],
# school_data["budget"],
# school_data_complete["Student ID"],
# school_data_complete["reading_score"],
# school_data_complete["math_score"])

# summary_table

# school_data_complete["math_score"] = pd.to_numeric(
#     school_data_complete["math_score"])

# school_data

school_name = school_data.groupby(["school_name"])

performing_school = school_name
performing_school.head()

school_type = school_name["type"]

school_type.head()

In_total_budget = school_name["budget"].sum()

average_school = school_data_complete.groupby(["school_name"])


average_school.head()

total_students = average_school["Student ID"].count()

per_student_budget = school_name["budget"].sum()/average_school["Student ID"].count()

In_Reading_Score = average_school["reading_score"].mean()
In_Reading_Score.head(15)

In_Math_Score = average_school["math_score"].mean()
In_Math_Score.head(15)

# % Passing Math_Score

In_Passing_Math_Score = school_data_complete[school_data_complete.math_score >= 70]
T_In_Math = In_Passing_Math_Score.groupby(["school_name"])

T_In_Math = (T_In_Math["math_score"].count()/average_school["math_score"].count())*100

# % Passing Reading Score

In_Passing_Reading_Score = school_data_complete[school_data_complete.reading_score >= 70]
T_In_Reading = In_Passing_Reading_Score.groupby(["school_name"])

T_In_Reading = (T_In_Reading["reading_score"].count()/average_school["reading_score"].count())*100


o_passing_score = (T_In_Math + T_In_Reading)/2

summary_table = pd.DataFrame({"School Type": school_type,
                              "Total Students" :total_students,
                            "Total Budget": In_total_budget,
                            "Per Student Budget": per_student_budget,
                            "Average Math Score": In_Math_Score,
                            "Average Reading Score": In_Reading_Score,
                            "% Passing Math Score" : T_In_Math,
                            "% Passing Reading Score" : T_In_Reading,
                            "Over All Passing Score" : o_passing_score})

In [61]:
summary_table['School Type'] = [ i[1].values[0] for i in summary_table['School Type'].values]

summary_table.sort_values("Over All Passing Score", ascending=False)

# summary_table['School Type'][0][1].values[0]

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math Score,% Passing Reading Score,Over All Passing Score
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [ ]:
summary_table.sort_values("Over All Passing Score")

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
9th_Math = school_data_complete[school_data_complete.grade == "9th"]
10th_Math = school_data_complete[school_data_complete.grade == "10th"]
11th_Math = school_data_complete[school_data_complete.grade == "11th"]
12th_Math = school_data_complete[school_data_complete.grade == "12th"]

9th_Math

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.